* {
    box-sizing: border-box;
  }
  
  body {
    background: mistyrose;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
  }
  
  #artworkPage {
    display: block;
    margin: 0 auto;
    align-items: center;
    
  }

  #loadingPage {
    display: block;
    margin: 0 auto;
    align-items: center;
  }


  #description {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    /*padding-left: 5cm;
    padding-right: 5cm;*/
    margin-top: 1cm;

  }

  #artist {
    margin-top: 1cm;
    text-shadow: 0.05em 0.05em 0.1em black;
    font-size: 30px;
  }
  

  h1 {
      text-shadow: 0.1em 0.1em 0.2em black;
      font-size: 2cm;
      margin-top: 0.8cm;
      text-align: center;
  }

  h2 {
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 1cm;
    text-align: center;
  }

  h4 {
    color: dimgrey;

  }
  
  .container {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  input,
  button {
    background-color: white;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 14px;
    padding: 8px 10px;
    margin: 0;
  }
  
  input[type='text'] {
    width: 300px;
  }
  
  .search-btn {
    cursor: pointer;
    border-left: 0;
    border-radius: 0;
    border-radius: 10px;
  }
  

  .flex {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .change-color {
      cursor: pointer;
      background-color: white;
      float:left;
      /*margin: 2%;*/
     width: 1.5cm;
     height: 1.5cm;
     /*border-radius: 10px;*/
      
  }


  .discover-btn {
    cursor: pointer;
      background-color: white;
      color: grey
      
      
  }

  .discover-btn:hover {background-color: gainsboro; color: white; border: 1px solid grey;}

  .artworkPage {
    margin: auto;
    padding-left: 0cm;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .new-btn {
    cursor: pointer;
      background-color: white;
      color: grey;
      margin: 1cm;
      align-self: center;
  }

  .new-btn:hover {background-color: gainsboro; border: 1px solid grey;}

 img {
      width: 50%;
      margin-top: 1cm;
      align-items: center;
         
  } 

  .header {
      margin-top: 1cm;
      display: flex;
      align-items: center;
      width: 110%;
  }

  .flex img {
      display: flex;
      align-items: center;
      width: 80%;
      margin-top: 1cm;
  }

  @media print {
    h1, input, .search-btn, .change-color, .new-btn, .print-btn {
      display: none;
    }
    h2, #artist {
      color: black;
      text-shadow: none;
    }
  }

  
  